html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'DINPro';
  src: url("../fonts/din/webfont/DINPro-Light.eot#"), url("../fonts/din/webfont/DINPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/din/webfont/DINPro-Light.woff") format("woff"), url("../fonts/din/webfont/DINPro-Light.ttf") format("truetype"), url("../fonts/din/webfont/DINPro-Light.oft") format("opentype"), url("../fonts/din/webfont/DINPro-Light.svg") format("svg");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'DINPro';
  src: url("../fonts/din/webfont/DINPro-LightItalic.eot#"), url("../fonts/din/webfont/DINPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/din/webfont/DINPro-LightItalic.woff") format("woff"), url("../fonts/din/webfont/DINPro-LightItalic.ttf") format("truetype"), url("../fonts/din/webfont/DINPro-LightItalic.oft") format("opentype"), url("../fonts/din/webfont/DINPro-LightItalic.svg") format("svg");
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: 'DINPro';
  src: url("../fonts/din/webfont/DINPro.eot#"), url("../fonts/din/webfont/DINPro.eot?#iefix") format("embedded-opentype"), url("../fonts/din/webfont/DINPro.woff") format("woff"), url("../fonts/din/webfont/DINPro.ttf") format("truetype"), url("../fonts/din/webfont/DINPro.oft") format("opentype"), url("../fonts/din/webfont/DINPro.svg") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'DINPro';
  src: url("../fonts/din/webfont/DINPro-Italic.eot#"), url("../fonts/din/webfont/DINPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/din/webfont/DINPro-Italic.woff") format("woff"), url("../fonts/din/webfont/DINPro-Italic.ttf") format("truetype"), url("../fonts/din/webfont/DINPro-Italic.oft") format("opentype"), url("../fonts/din/webfont/DINPro-Italic.svg") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'DINPro';
  src: url("../fonts/din/webfont/DINPro-Medium.eot#"), url("../fonts/din/webfont/DINPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/din/webfont/DINPro-Medium.woff") format("woff"), url("../fonts/din/webfont/DINPro-Medium.ttf") format("truetype"), url("../fonts/din/webfont/DINPro-Medium.oft") format("opentype"), url("../fonts/din/webfont/DINPro-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'DINPro';
  src: url("../fonts/din/webfont/DINPro-MediumItalic.eot#"), url("../fonts/din/webfont/DINPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/din/webfont/DINPro-MediumItalic.woff") format("woff"), url("../fonts/din/webfont/DINPro-MediumItalic.ttf") format("truetype"), url("../fonts/din/webfont/DINPro-MediumItalic.oft") format("opentype"), url("../fonts/din/webfont/DINPro-MediumItalic.svg") format("svg");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'DINPro';
  src: url("../fonts/din/webfont/DINPro-Bold.eot#"), url("../fonts/din/webfont/DINPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/din/webfont/DINPro-Bold.woff") format("woff"), url("../fonts/din/webfont/DINPro-Bold.ttf") format("truetype"), url("../fonts/din/webfont/DINPro-Bold.oft") format("opentype"), url("../fonts/din/webfont/DINPro-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'DINPro';
  src: url("../fonts/din/webfont/DINPro-BoldItalic.eot#"), url("../fonts/din/webfont/DINPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/din/webfont/DINPro-BoldItalic.woff") format("woff"), url("../fonts/din/webfont/DINPro-BoldItalic.ttf") format("truetype"), url("../fonts/din/webfont/DINPro-BoldItalic.oft") format("opentype"), url("../fonts/din/webfont/DINPro-BoldItalic.svg") format("svg");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: 'Grandesign';
  src: url("../fonts/grandesign/webfont/Grandesign-Neue-Serif.eot#"), url("../fonts/grandesign/webfont/Grandesign-Neue-Serif.eot?#iefix") format("embedded-opentype"), url("../fonts/grandesign/webfont/Grandesign-Neue-Serif.woff") format("woff"), url("../fonts/grandesign/webfont/Grandesign-Neue-Serif.woff2") format("woff2"), url("../fonts/grandesign/webfont/Grandesign-Neue-Serif.ttf") format("truetype"), url("../fonts/grandesign/webfont/Grandesign-Neue-Serif.svg") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Grandesign';
  src: url("../fonts/grandesign/webfont/Grandesign-Neue-Serif-italic.eot#"), url("../fonts/grandesign/webfont/Grandesign-Neue-Serif-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/grandesign/webfont/Grandesign-Neue-Serif-italic.woff") format("woff"), url("../fonts/grandesign/webfont/Grandesign-Neue-Serif-italic.woff2") format("woff2"), url("../fonts/grandesign/webfont/Grandesign-Neue-Serif-italic.ttf") format("truetype"), url("../fonts/grandesign/webfont/Grandesign-Neue-Serif-italic.svg") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Grandesign';
  src: url("../fonts/grandesign/webfont/Grandesign-Neue-Serif-bold.eot#"), url("../fonts/grandesign/webfont/Grandesign-Neue-Serif-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/grandesign/webfont/Grandesign-Neue-Serif-bold.woff") format("woff"), url("../fonts/grandesign/webfont/Grandesign-Neue-Serif-bold.woff2") format("woff2"), url("../fonts/grandesign/webfont/Grandesign-Neue-Serif-bold.ttf") format("truetype"), url("../fonts/grandesign/webfont/Grandesign-Neue-Serif-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Grandesign';
  src: url("../fonts/grandesign/webfont/Grandesign-Neue-Serif-bold_italic.eot#"), url("../fonts/grandesign/webfont/Grandesign-Neue-Serif-bold_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/grandesign/webfont/Grandesign-Neue-Serif-bold_italic.woff") format("woff"), url("../fonts/grandesign/webfont/Grandesign-Neue-Serif-bold_italic.woff2") format("woff2"), url("../fonts/grandesign/webfont/Grandesign-Neue-Serif-bold_italic.ttf") format("truetype"), url("../fonts/grandesign/webfont/Grandesign-Neue-Serif-bold_italic.svg") format("svg");
  font-weight: 700;
  font-style: italic; }
* {
  box-sizing: border-box !important; }

html, body {
  height: 100%;
  width: 100%; }

html {
  font-size: 62.5%; }

@media (max-width: 800px) {
  html {
    font-size: 55%; } }
body {
  font-family: "Grandesign", Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #373737;
  font-size: 2rem;
  line-height: 3.25rem;
  margin: 0; }

.gray {
  color: #878787; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DINPro", Helvetica Neue, Helvetica, Arial, sans-serif;
  letter-spacing: .08rem;
  color: #373737;
  font-weight: 700;
  margin-top: 0; }

h1 {
  font-size: 4.0rem;
  line-height: 5.25rem;
  font-weight: 500;
  margin-bottom: 4.0rem; }

h2 {
  font-size: 3.0rem;
  line-height: 4.5rem;
  margin-top: 4.0rem;
  margin-bottom: 3.0rem; }

h3 {
  font-size: 2.8rem;
  line-height: 4.2rem;
  margin-bottom: 2.8rem; }

h4 {
  font-size: 2.6rem;
  line-height: 3.9rem;
  margin-bottom: 2.6rem; }

h5 {
  font-size: 2.4rem;
  line-height: 3.6rem;
  margin-bottom: 2.4rem; }

h6 {
  font-size: 2.2rem;
  line-height: 3.3rem;
  margin-bottom: 2.2rem; }

p,
.paragraph {
  font-size: 2.0rem;
  line-height: 3.0rem;
  margin-bottom: 2.0rem;
  margin-top: 0; }

.paragraph--large {
  font-size: 2.4rem;
  line-height: 3.6rem;
  margin-bottom: 2.4rem;
  font-weight: 500; }

@media (max-width: 800px) {
  .paragraph--large {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 2rem; } }
small {
  font-size: 1.75rem;
  line-height: 2.625rem; }

a,
.link {
  -webkit-transition: color 0.15s linear;
  -moz-transition: color 0.15s linear;
  transition: color 0.15s linear;
  text-decoration: none;
  color: #ff00c8;
  cursor: pointer; }

a:hover,
.link:hover {
  color: #e600b4;
  text-decoration: underline; }

.link--quiet {
  color: #373737; }

.link--quiet:hover {
  color: #ff00c8; }

.link--silent {
  color: #373737; }

.link--silent:hover {
  color: #373737; }

hr,
.divider {
  background: #e7ebee;
  border: 0;
  color: #e7ebee;
  display: block;
  font-size: 0;
  height: .3rem;
  margin: 5rem 0;
  width: 100%; }

.divider--fat {
  width: 14rem;
  height: .5rem;
  margin: 5rem auto; }

.image--float-left {
  float: left;
  margin: 0 4rem 2rem 0; }

@media (max-width: 800px) {
  .image--float-left {
    text-align: center;
    float: none;
    display: block;
    margin: 0 0 3rem 0; } }
blockquote {
  border-left: 2px solid #e7ebee;
  font-style: italic;
  margin: 2rem 0 3rem;
  padding: .25rem 0 .25rem 2.75rem; }
  blockquote p {
    font-style: italic;
    margin: 0; }
  blockquote p code {
    font-style: italic; }

p code,
li code {
  background-color: #fafafa;
  border: 1px solid #c9d2d9;
  border-radius: 3px;
  color: #373737;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1.5rem;
  padding: .15rem .50rem;
  white-space: nowrap; }

@media (max-width: 800px) {
  p code,
  li code {
    font-size: 1.3rem; } }
pre {
  border-radius: 3px;
  padding: 4rem;
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin: 3rem 0;
  width: 100%;
  background-color: #f7f7f7;
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word; }

pre code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; }

figure {
  margin: 0; }

ul,
ol {
  margin-bottom: 3rem;
  padding-left: 4rem; }

ul li,
ol li {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 1rem; }

@media (max-width: 800px) {
  body {
    font-size: 1.6rem;
    line-height: 2.4rem; }

  h1 {
    font-size: 2.2rem;
    line-height: 2.8rem;
    margin-bottom: 2.2rem; }

  h2 {
    font-size: 2.1rem;
    line-height: 2.6rem;
    margin-bottom: 2.1rem; }

  h3 {
    font-size: 2.0rem;
    line-height: 2.5rem;
    margin-bottom: 2.0rem; }

  h4 {
    font-size: 1.9rem;
    line-height: 2.4rem;
    margin-bottom: 2.0rem; }

  h5 {
    font-size: 1.8rem;
    line-height: 2.3rem;
    margin-bottom: 1.8rem; }

  h6 {
    font-size: 1.7rem;
    line-height: 2.2rem;
    margin-bottom: 1.7rem; }

  p {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1.6rem; }

  blockquote {
    margin: 0 0 1.6rem;
    padding: 0.25rem 0 0.25rem 2.0rem; }

  pre {
    padding: .75rem;
    font-size: 1.2rem;
    line-height: 1.4rem; }

  ul,
  ol {
    margin-bottom: 1.6rem;
    padding-left: 2rem; }

  ul li,
  ol li {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 0.75rem; }

  hr {
    margin: 3rem 0 2.5rem 0; } }
::selection {
  background: #ec33ff;
  color: white; }

::-moz-selection {
  background: #ec33ff;
  color: white; }

/**
 * Full page fade in
 **/
body {
  opacity: 0; }
  body.loaded {
    -webkit-transition: opacity 500ms linear 250ms;
    -moz-transition: opacity 500ms linear 250ms;
    transition: opacity 500ms linear 250ms;
    opacity: 1; }
  body.unloading {
    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
    opacity: 0; }

.highlight .hll {
  background-color: #ffffcc; }

.highlight .c {
  color: #008800;
  font-style: italic; }

/* Comment */
.highlight .err {
  border: 1px solid #FF0000; }

/* Error */
.highlight .k {
  color: #AA22FF;
  font-weight: bold; }

/* Keyword */
.highlight .o {
  color: #666666; }

/* Operator */
.highlight .cm {
  color: #008800;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #008800; }

/* Comment.Preproc */
.highlight .c1 {
  color: #008800;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #008800;
  font-weight: bold; }

/* Comment.Special */
.highlight .gd {
  color: #A00000; }

/* Generic.Deleted */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #FF0000; }

/* Generic.Error */
.highlight .gh {
  color: #000080;
  font-weight: bold; }

/* Generic.Heading */
.highlight .gi {
  color: #00A000; }

/* Generic.Inserted */
.highlight .go {
  color: #808080; }

/* Generic.Output */
.highlight .gp {
  color: #000080;
  font-weight: bold; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #800080;
  font-weight: bold; }

/* Generic.Subheading */
.highlight .gt {
  color: #0040D0; }

/* Generic.Traceback */
.highlight .kc {
  color: #AA22FF;
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  color: #AA22FF;
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kn {
  color: #AA22FF;
  font-weight: bold; }

/* Keyword.Namespace */
.highlight .kp {
  color: #AA22FF; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #AA22FF;
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #00BB00;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #666666; }

/* Literal.Number */
.highlight .s {
  color: #BB4444; }

/* Literal.String */
.highlight .na {
  color: #BB4444; }

/* Name.Attribute */
.highlight .nb {
  color: #AA22FF; }

/* Name.Builtin */
.highlight .nc {
  color: #0000FF; }

/* Name.Class */
.highlight .no {
  color: #880000; }

/* Name.Constant */
.highlight .nd {
  color: #AA22FF; }

/* Name.Decorator */
.highlight .ni {
  color: #999999;
  font-weight: bold; }

/* Name.Entity */
.highlight .ne {
  color: #D2413A;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #00A000; }

/* Name.Function */
.highlight .nl {
  color: #A0A000; }

/* Name.Label */
.highlight .nn {
  color: #0000FF;
  font-weight: bold; }

/* Name.Namespace */
.highlight .nt {
  color: #008000;
  font-weight: bold; }

/* Name.Tag */
.highlight .nv {
  color: #B8860B; }

/* Name.Variable */
.highlight .ow {
  color: #AA22FF;
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #666666; }

/* Literal.Number.Float */
.highlight .mh {
  color: #666666; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #666666; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #666666; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #BB4444; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #BB4444; }

/* Literal.String.Char */
.highlight .sd {
  color: #BB4444;
  font-style: italic; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #BB4444; }

/* Literal.String.Double */
.highlight .se {
  color: #BB6622;
  font-weight: bold; }

/* Literal.String.Escape */
.highlight .sh {
  color: #BB4444; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #BB6688;
  font-weight: bold; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #008000; }

/* Literal.String.Other */
.highlight .sr {
  color: #BB6688; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #BB4444; }

/* Literal.String.Single */
.highlight .ss {
  color: #B8860B; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #AA22FF; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #B8860B; }

/* Name.Variable.Class */
.highlight .vg {
  color: #B8860B; }

/* Name.Variable.Global */
.highlight .vi {
  color: #B8860B; }

/* Name.Variable.Instance */
.highlight .il {
  color: #666666; }

/* Literal.Number.Integer.Long */
/**
 * Very basic central column
 */
.container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.column {
  max-width: 80rem;
  width: 80rem; }

@media (max-width: 800px) {
  .column {
    padding: 0 2rem;
    width: 100%; } }
/**
 * Fixed vertical/horizontal centered island
 **/
.centered-container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  height: 100%; }

/**
 * Push out sidebar
 **/
.page {
  -webkit-transition: right, 0.25s;
  -moz-transition: right, 0.25s;
  transition: right, 0.25s;
  height: 100%;
  width: 100%;
  z-index: 0;
  right: 0;
  position: relative; }

body.menu--open .menu {
  right: 0rem; }
body.menu--open .page {
  right: 25rem; }
body.menu--open .menu-trigger__img--open {
  display: none; }
body.menu--open .menu-trigger__img--close {
  display: block; }

.button {
  font-family: "DINPro", Helvetica Neue, Helvetica, Arial, sans-serif;
  letter-spacing: .08rem;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  transition: all 200ms linear;
  background-color: transparent;
  border: 2px solid #373737;
  border-radius: 2px;
  color: #373737;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4rem;
  outline: 0;
  padding: 1.5rem 2rem;
  text-transform: uppercase; }
  .button:hover {
    background-color: #ff00c8;
    border-color: #ff00c8;
    color: #fff;
    text-decoration: none; }

@media (max-width: 800px) {
  .button {
    border: 1px solid #373737;
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 1rem 1.25rem; } }
.button--cta {
  margin: 4rem 0; }

/**
 *
 **/
.tile-list {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 4rem 0;
  padding: 0;
  width: 100%; }

.tile-list__item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 50%;
  -moz-flex: 1 1 50%;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  margin: 0 0 2rem 0;
  padding: 0;
  list-style: none; }

img.tile-list__item__image {
  border-radius: 2px;
  display: block;
  margin: 0 2rem 0 0;
  height: 8rem; }

.tile-list__item__text {
  padding-right: 1rem; }

.tile-list__item__title {
  color: #373737;
  font-size: 2rem;
  line-height: 3rem;
  margin: 0; }
  .tile-list__item__title a {
    color: #373737; }

.tile-list__item__subtitle {
  color: #878787;
  font-size: 1.75rem;
  line-height: 2.626rem;
  margin: 0; }

/**
 *
 **/
.icons-list {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0; }

.icons-list__item {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 33.33%;
  -moz-flex: 0 0 33.33%;
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  font-size: 1.9rem;
  line-height: 1.9rem;
  list-style: none;
  margin: 0 0 2.5rem;
  padding: 0; }
  .icons-list__item a {
    color: #373737; }
    .icons-list__item a:hover {
      color: #ff00c8;
      text-decoration: none; }
  .icons-list__item i {
    margin-right: .5rem; }

@media (max-width: 800px) {
  .icons-list__item {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    font-size: 1.6rem;
    line-height: 1.6rem;
    margin: 0 0 1.5rem; } }
.icons-list--two .icons-list__item {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 50%;
  -moz-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%; }

.alert {
  font-family: "DINPro", Helvetica Neue, Helvetica, Arial, sans-serif;
  letter-spacing: .08rem;
  font-weight: 300;
  color: #8E0083;
  padding: .75rem 1.5rem 1rem 1.5rem;
  background-color: #FFCAFB;
  margin-bottom: 4rem; }
  .alert a {
    text-decoration: underline;
    color: #8E0083; }
  .alert--no-margin {
    margin-bottom: 0rem; }

.alert__close {
  float: right;
  font-size: 85%; }

.alert--yellow {
  background-color: #ffee90;
  color: #271d06; }
  .alert--yellow a {
    color: #271d06; }

.alert--grey-alert {
  background-color: #eaeaea;
  color: #ff1616; }
  .alert--grey-alert a {
    color: #ff1616; }

@media (max-width: 800px) {
  .alert {
    padding: 0.50rem 1rem 0.65rem 1rem;
    margin-bottom: 1.5rem; } }
.footer {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  border-top: 2px solid #e7ebee;
  margin: 6rem 0 3rem;
  padding: 6rem 0 0; }

.footer__title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.25rem; }

.footer__blurb {
  color: #878787;
  margin-bottom: 3.5rem; }

.footer__links {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0; }

.footer__link {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 25%;
  -moz-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  font-size: 1.9rem;
  line-height: 1.9rem;
  list-style: none;
  margin: 0 0 2.5rem;
  padding: 0; }
  .footer__link a {
    color: #373737; }
    .footer__link a:hover {
      color: #ff00c8;
      text-decoration: none; }
  .footer__link i {
    margin-right: .5rem; }

.footer__copyright {
  color: #e7ebee;
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin-top: 4rem;
  text-align: right; }
  .footer__copyright a {
    color: #e7ebee;
    text-decoration: underline; }
  .footer__copyright:hover a {
    color: #878787; }
  .footer__copyright:hover i {
    color: red; }

@media (max-width: 800px) {
  .footer {
    margin: 3rem 0 3rem;
    padding: 3rem 0 0; }

  .footer__title {
    font-size: 2rem;
    margin-bottom: 2rem; }

  .footer__blurb {
    margin-bottom: 3rem; }

  .footer__link {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    font-size: 1.6rem;
    line-height: 1.6rem;
    margin: 0 0 1.5rem; }

  .footer__copyright {
    text-align: left;
    font-size: 1.6rem;
    line-height: 1.6rem;
    margin-top: 1.5rem;
    margin-bottom: 0; } }
/**
 * Header container
 **/
.header-container {
  padding: 0 2rem;
  margin-bottom: 4rem;
  height: 11.5rem;
  width: 100%; }

.header {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  padding: 2rem 0; }

@media (max-width: 800px) {
  .header-container {
    height: 8rem;
    margin-bottom: 2rem; }

  .header {
    padding: 1rem 0; } }
/**
 * Logo on left hand side
 **/
.logo {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 80%;
  -moz-flex: 1 0 80%;
  -ms-flex: 1 0 80%;
  flex: 1 0 80%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: rows;
  -moz-box-orient: rows;
  box-orient: rows;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: rows;
  -moz-flex-direction: rows;
  flex-direction: rows;
  -ms-flex-direction: rows;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }

.logo__portrait {
  margin: 0 2rem 0 0; }

.logo__portrait__image {
  display: block;
  margin: 0;
  height: 7.5rem; }

.logo:hover .logo__portrait__image {
  -webkit-animation: trip-balls 3s infinite;
  -moz-animation: trip-balls 3s infinite;
  animation: trip-balls 3s infinite; }
@-webkit-keyframes trip-balls {
  0% {
    -webkit-filter: hue-rotate(0deg) saturate(100%); }
  25% {
    -webkit-filter: hue-rotate(90deg) saturate(400%); }
  50% {
    -webkit-filter: hue-rotate(180deg) saturate(400%); }
  75% {
    -webkit-filter: hue-rotate(270deg) saturate(400%); }
  100% {
    -webkit-filter: hue-rotate(360deg) saturate(100%); } }
@-moz-keyframes trip-balls {}
@keyframes trip-balls {
  0% {
    -webkit-filter: hue-rotate(0deg) saturate(100%);
    filter: hue-rotate(0deg) saturate(100%); }
  25% {
    -webkit-filter: hue-rotate(90deg) saturate(400%);
    filter: hue-rotate(90deg) saturate(400%); }
  50% {
    -webkit-filter: hue-rotate(180deg) saturate(400%);
    filter: hue-rotate(180deg) saturate(400%); }
  75% {
    -webkit-filter: hue-rotate(270deg) saturate(400%);
    filter: hue-rotate(270deg) saturate(400%); }
  100% {
    -webkit-filter: hue-rotate(360deg) saturate(100%);
    filter: hue-rotate(360deg) saturate(100%); } }
.logo__text {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column; }

.logo__title,
.logo__subtitle {
  font-family: "DINPro", Helvetica Neue, Helvetica, Arial, sans-serif;
  letter-spacing: .08rem; }

.logo__title {
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
  line-height: 2rem;
  margin: 0 0 .5rem; }

.logo__title__link {
  color: #373737; }
  .logo__title__link:hover {
    color: #373737;
    text-decoration: none; }

.logo__subtitle {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.8rem;
  margin: 0; }

@media (max-width: 800px) {
  .logo__portrait__image {
    height: 5rem; }

  .logo__title {
    font-size: 1.8rem;
    line-height: 1.8rem; }

  .logo__subtitle {
    font-size: 1.6rem;
    line-height: 1.6rem; } }
/**
 * Trigger for offscreen menu on right
 **/
.menu-trigger {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 20%;
  -moz-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }

.menu-trigger--fixed {
  display: block;
  position: absolute;
  top: 5.5rem;
  right: 6rem; }

.menu-trigger__button {
  border: 0;
  background: transparent;
  outline: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  display: block;
  margin-right: 2rem;
  outline: 0; }

.menu-trigger__icon {
  display: block;
  height: 1.65rem;
  margin: 0; }

.menu-trigger__icon--close {
  display: none;
  height: 2rem; }

.menu--open .menu-trigger__icon--open {
  display: none; }
.menu--open .menu-trigger__icon--close {
  display: block; }

@media (max-width: 800px) {
  .menu-trigger__button {
    margin-right: 0; }

  .menu-trigger--fixed {
    top: 2.5rem;
    right: 2.5rem; } }
/**
 * Sticky header on scroll
 **/
.header--sticky {
  -webkit-transition: right, 0.25s;
  -moz-transition: right, 0.25s;
  transition: right, 0.25s;
  background-color: #fff;
  border-bottom: 2px solid #e7ebee;
  right: 0;
  max-width: 100%;
  margin: 0;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%; }
  .header--sticky .logo__portrait {
    margin-right: 1.5rem; }
  .header--sticky .logo__portrait__image {
    height: 5rem; }
  .header--sticky .logo__title {
    font-weight: 500;
    margin-bottom: 0; }
  .header--sticky .logo__subtitle {
    display: none; }
  .header--sticky .menu-trigger__button {
    margin-right: 0; }
  .header--sticky .menu-trigger__icon {
    height: 1.5rem; }

body.menu--open .header--sticky {
  right: 25rem; }

.menu {
  -webkit-transition: right, 0.25s;
  -moz-transition: right, 0.25s;
  transition: right, 0.25s;
  border-left: 2px solid #f2f2f2;
  position: fixed;
  top: 0px;
  right: -25rem;
  height: 100%;
  width: 25rem; }

.nav {
  padding: 2.5rem 4.5rem; }

.nav__list {
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-bottom: 3rem;
  margin-top: 2.5rem; }
  .nav__list .list__item {
    list-style: none;
    margin: 0;
    padding: 0; }

.nav__list__item {
  margin-bottom: 1rem; }

.nav__list__link--active {
  font-weight: 500 !important; }

.nav__list__divider {
  margin: 1.75rem 0;
  width: 100%;
  height: 1px; }

.nav__list__link {
  font-family: "DINPro", Helvetica Neue, Helvetica, Arial, sans-serif;
  letter-spacing: .08rem;
  font-size: 2.2rem;
  line-height: 2.2rem;
  letter-spacing: 0;
  color: #373737;
  font-weight: 300; }
  .nav__list__link i {
    margin-right: .5rem; }
  .nav__list__link:hover {
    color: #ff00c8;
    text-decoration: none; }

.nav__list__link--quiet {
  color: #878787; }

.nav__list__link--highlight {
  color: #ff00c8; }

.nav__list--secondary {
  position: absolute;
  bottom: 0; }
  .nav__list--secondary .nav__list__item {
    margin-bottom: 0rem; }
  .nav__list--secondary .nav__list__link {
    font-size: 1.8rem;
    line-height: 1.8rem; }
    .nav__list--secondary .nav__list__link:hover {
      color: #ff00c8; }

@media (max-width: 800px) {
  .nav {
    padding: 1.5rem 2.5rem; }

  .nav__list--primary {
    margin-top: .75rem; }
    .nav__list--primary .nav__list__link {
      font-size: 2rem;
      line-height: 2rem; }

  .nav__list--secondary .nav__list__item {
    margin-bottom: 0.5rem; } }
.elevator {
  -webkit-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  bottom: 3rem;
  cursor: pointer;
  opacity: 0;
  position: fixed;
  right: 4rem; }
  .elevator:hover {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px); }

.elevator--visible {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 1; }

.elevator__icon {
  display: inline;
  font-size: 6rem;
  vertical-align: middle; }

.menu--open .elevator {
  opacity: 0; }

@media (max-width: 800px) {
  .elevator {
    bottom: 2rem;
    right: 2rem; }

  .elevator__icon {
    font-size: 5rem; } }
.content__list__item {
  margin-bottom: 10rem; }
  .content__list__item:last-child {
    margin-bottom: 0; }
  .content__list__item .content .content__image {
    margin-bottom: 3rem; }
  .content__list__item .content .content__header {
    margin-bottom: 3rem; }

@media (max-width: 800px) {
  .content__list {
    margin-top: 0rem; }

  .content__list__item {
    margin-bottom: 5rem; }
    .content__list__item .content .content__image {
      margin-bottom: 1.5rem; }
    .content__list__item .content .content__header {
      margin-bottom: 1.5rem; } }
/**
 *
 **/
.content-container {
  margin-top: 4rem; }

@media (max-width: 800px) {
  .content-container {
    margin-top: 2rem; } }
/**
 * Image
 **/
.content__image {
  margin: 0 0 6rem; }
  .content__image a {
    display: block; }

.content__image__img {
  display: block;
  border-radius: 3px;
  max-width: 80rem;
  margin: 0; }

.content__image__caption {
  font-family: "DINPro", Helvetica Neue, Helvetica, Arial, sans-serif;
  letter-spacing: .08rem;
  color: #878787;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.1rem;
  margin-top: .5rem; }

@media (max-width: 800px) {
  .content__image {
    margin: 0 0 2rem; }

  .content__image__img {
    max-width: 100%; } }
.content__image--circle {
  margin-bottom: 4rem;
  text-align: center; }
  .content__image--circle .content__image__img {
    height: 25rem;
    width: 25rem;
    border-radius: 12.5rem;
    display: inline-block; }

@media (max-width: 800px) {
  .content__image--circle {
    margin-bottom: 2rem; }
    .content__image--circle .content__image__img {
      height: 15rem;
      width: 15rem;
      border-radius: 7.5rem; } }
/**
 * Header
 **/
.content__header {
  margin-bottom: 5.5rem; }

.content__date {
  font-family: "DINPro", Helvetica Neue, Helvetica, Arial, sans-serif;
  letter-spacing: .08rem;
  color: #878787;
  cursor: help;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 2.2rem;
  margin-bottom: 1.5rem; }

.content__title {
  margin-bottom: 0; }
  .content__title a {
    color: #373737; }
    .content__title a:hover {
      text-decoration: none; }

@media (max-width: 800px) {
  .content__header {
    margin-bottom: 3rem; }

  .content__date {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-bottom: 0.4rem; } }
.content__header--headline .content__date {
  display: none; }
.content__header--headline .content__title {
  font-size: 5rem;
  line-height: 7rem;
  text-align: center;
  padding-bottom: 6rem;
  margin-bottom: 4rem;
  position: relative; }
  .content__header--headline .content__title:after {
    content: '';
    width: 14rem;
    height: .5rem;
    background-color: #e7ebee;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -7rem; }

@media (max-width: 800px) {
  .content__header--headline .content__title {
    font-size: 3rem;
    line-height: 4.2rem;
    padding-bottom: 3rem;
    margin-bottom: 2rem; }
    .content__header--headline .content__title:after {
      width: 10rem;
      height: .3rem;
      margin-left: -5rem; } }
/**
 * Content section
 **/
.content__section > img,
.content__section > p > img {
  display: block;
  margin: 4rem 0;
  width: 100%; }

@media (max-width: 800px) {
  .content__section {
    margin-top: 0; }
    .content__section > p > img {
      margin: 3rem 0; } }
.profile-card {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }

.profile-card__portrait {
  margin-right: 4rem; }

.profile-card__portrait img {
  width: 12rem;
  display: block;
  margin: 0; }

.profile-card:hover .profile-card__portrait img {
  -webkit-animation: trip-balls 3s infinite;
  -moz-animation: trip-balls 3s infinite;
  animation: trip-balls 3s infinite; }
@-webkit-keyframes trip-balls {
  0% {
    -webkit-filter: hue-rotate(0deg) saturate(100%); }
  25% {
    -webkit-filter: hue-rotate(90deg) saturate(400%); }
  50% {
    -webkit-filter: hue-rotate(180deg) saturate(400%); }
  75% {
    -webkit-filter: hue-rotate(270deg) saturate(400%); }
  100% {
    -webkit-filter: hue-rotate(360deg) saturate(100%); } }
@-moz-keyframes trip-balls {}
@keyframes trip-balls {
  0% {
    -webkit-filter: hue-rotate(0deg) saturate(100%);
    filter: hue-rotate(0deg) saturate(100%); }
  25% {
    -webkit-filter: hue-rotate(90deg) saturate(400%);
    filter: hue-rotate(90deg) saturate(400%); }
  50% {
    -webkit-filter: hue-rotate(180deg) saturate(400%);
    filter: hue-rotate(180deg) saturate(400%); }
  75% {
    -webkit-filter: hue-rotate(270deg) saturate(400%);
    filter: hue-rotate(270deg) saturate(400%); }
  100% {
    -webkit-filter: hue-rotate(360deg) saturate(100%);
    filter: hue-rotate(360deg) saturate(100%); } }
.profile-card__title {
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 1.5rem; }

.profile-card__subtitle {
  font-size: 2.22rem;
  line-height: 2.2rem;
  margin-bottom: 1.75rem;
  font-weight: 300; }

.profile-card__subtitle {
  margin-top: 0;
  color: #878787; }

@media (max-width: 800px) {
  .profile-card {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    text-align: center; }

  .profile-card__title {
    font-size: 2.6rem;
    line-height: 3.4rem;
    margin-bottom: 1rem; }

  .profile-card__subtitle {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 0; }

  .profile-card__portrait {
    margin: 0 0 1.5rem 0; }

  .profile-card__portrait img {
    width: 100px; } }
.home-page {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  width: 60rem; }

.home-page__profile-card {
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: 2px solid #e7ebee; }

.home-page__about {
  margin-bottom: 2rem; }

.home-page .social-links__item {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 33.33%;
  -moz-flex: 0 0 33.33%;
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%; }

@media (max-width: 800px) {
  .home-page {
    width: 80%;
    margin: 0 auto; }
    .home-page .home-page__profile-card {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 2rem; }
    .home-page .social-links__item {
      -webkit-box-flex: 0;
      -moz-box-flex: 0;
      box-flex: 0;
      -webkit-flex: 0 0 50%;
      -moz-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; } }
